<!DOCTYPE HTML>
<html>
  <head>
    <title>HELLO</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a><%=username%></a>
    <br>
    <a><%=email%></a>
    <br>
    <a><%=password%></a>
  </body>
</html>